body{
    font-family: 'open sans';
    margin: 0;
    color: #CC0033; 
    background: #339900;
}
ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
li{
    padding: 40px;
    border: 2px solid rgb(30,134,255);
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}
li:hover{
    background-color: rgb(30,134,255);
    color: white;
}
li:active{
    opacity: 0.7;
}
*{
   color: #444444;
}
.main-container{
   padding: 20px;
}
.block{
   display: flex;
   align-items: center;
}
.number-selected{
   background-color: rgb(30,134,255);
   color: white;
}
.bet-input{
   padding: 15px;
   border-radius: 10px;
   border: 1px solid lightgrey;
   font-size: 15pt;
   margin: 0 10px;
}
span{
    display: block; 
}
     
.outline{ 
    width: 110px; 
    border: 0px solid black;
    text-align: center; 
    padding: 10px; 
    margin: 10px; 
    background: #FFF 
}
.top{ 
    text-align: left; 
}
.bottom{ 
    text-align: right; 
}
     
.shadow{ 
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000; 
    -webkit-box-shadow: 1px 1px 3px #000; 
}
.rounded{ 
    border-radius:10px; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
}